<section class="container-fluid">
  <article class="article">
    <h2 class="article-title">Material List</h2>
    <div class="row">
      <div class="col-xs-4">
        <div class="box box-default">
          <div class="box-header">Simple list</div>
          <div class="box-body">
            <md-list>
              <md-list-item >Paper</md-list-item>
              <md-list-item >Salt</md-list-item>
              <md-list-item >Paprika</md-list-item>
            </md-list>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>